<div id="dash-alert" class="alert alert-success center" role="alert"></div>

<div class="center jumbotron">
  <div id="front-page">
    <h1>
      Welcome to the<br />
      Real Estate Manager Demo
    </h1>
  </div>

  <div id="dashboard">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#subscribe" aria-controls="Subscribe" role="tab"
        data-toggle="tab">Subscribe</a>
      </li>
      <li role="presentation">
        <a href="#property" aria-controls="Property" role="tab"
        data-toggle="tab">Property</a>
      </li>
      <li role="presentation">
        <a href="#sell" aria-controls="Sell" role="tab"
        data-toggle="tab">Sell</a></li>
      <li role="presentation">
        <a href="#properties" aria-controls="Properties" role="tab"
        data-toggle="tab">Properties</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Subscribe tab pane -->
      <div role="tabpanel" class="tab-pane active" id="subscribe">
        <subscription></subscription>
      </div>


      <!-- Property tab pane -->
      <div role="tabpanel" class="tab-pane" id="property">
        <properties-form></properties-form>
      </div>


      <!-- Sell tab pane -->
      <div role="tabpanel" class="tab-pane" id="sell">
        <properties-detail></properties-detail>
      </div>


      <!-- Properties tab pane -->
      <div role="tabpanel" class="tab-pane" id="properties">
        <properties-list class="center"></properties-list>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  window.user = JSON.parse('<%= raw current_user.to_json %>');
</script>
