<div class="center jumbotron">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#subscribe" aria-controls="Subscribe" role="tab"
      data-toggle="tab">Subscribe</a>
    </li>
    <li role="presentation">
      <a href="#property" aria-controls="Property" role="tab"
      data-toggle="tab">Property</a>
    </li>
    <li role="presentation">
      <a href="#sell" aria-controls="Sell" role="tab"
      data-toggle="tab">Sell</a></li>
    <li role="presentation">
      <a href="#properties" aria-controls="Properties" role="tab"
      data-toggle="tab">Properties</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="subscribe">
      Subscribe!
    </div>
    <div role="tabpanel" class="tab-pane" id="property">Property!</div>
    <div role="tabpanel" class="tab-pane" id="sell">Sell!</div>
    <div role="tabpanel" class="tab-pane" id="properties">Properties!</div>
  </div>
</div>
