<div id="property-not-selected">
  Please select a property from the "Properties" tab.
</div>

<div id="property-info">
  <h1></h1>

  <div id="percent-div">
    <span id="percent_complete"></span>% Complete
  </div>

  <div id="missing-fields">
    <div>Missing Fields:</div>
    <ul></ul>
  </div>

  <form id="sell-form" action="#" method="post">
    <input id="property-id-sell" type="hidden" name="property[id]" />

    <input type="submit" class="btn btn-primary" value="Sell House" />
  </form>
</div>
