// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

body,
.btn {
  font-size:          18px;
}

a:hover {
  text-decoration:    none;
}

form {
  display:            inline-block;
}

.center {
  position:           relative;
  left:               50%;
  transform:          translateX(-50%);
}

.alert {
  display:            none;
  position:           absolute;
  width:              800px;
  top:                8px;
}

.jumbotron {
  margin-top:         75px;
  width:              800px;
}

.tab-pane {
  position:           relative;
  padding:            15px 0;
  min-height:         325px;
  background-color:   white;
}

#subscribe {
  padding-top:        50px;

  #plan_number {
    width:            200px;
    margin-left:      10px;
  }

  .popover {
    width:            215px;
  }

  .btn {
    width:            100%;
  }
}

#property {
  #property-form {
    width:            355px;

    label {
      margin-top:     5px;
    }

    input[type=text],
    input[type=number] {
      float:          right;
      width:          250px;
    }

    .radio-group {
      display:        inline-block;
      float:          right;
      width:          250px;

      span {
        display:      inline-block;
      }

      input {
        position:     relative;
        top:          1px;
      }

      input:nth-child(2) {
        margin-left:  30px;
      }
    }

    #new-property {
      display:        none;
      position:       relative;
      top:            7px;
    }

    .btn {
      float:          right;
    }
  }

  .state-all,
  .state-dependent {
    display:          none;
  }
}

#sell {
  padding-left:       50px;

  #property-not-selected {
    margin-top:       20px;
  }

  #property-info {
    display:          none;
  }

  h1 {
    font-size:        30px;
  }

  h1,
  #percent-div {
    margin-bottom:    15px;
  }

  #missing-fields ul {
    padding-left:     25px;
    list-style:       none;
  }

  #sell-form {
    margin-top:       25px;
  }
}

#properties {
  #properties-list {
    margin-top:       25px;
    padding:          15px;
    width:            500px;
    border:           1px solid black;

    .property_status {
      float:          right;
      width:          100px;
    }
  }
}
